*{
    margin: 0px;
    text-decoration:none;
    color: rgb(65, 65, 65);
}
.navbar{
    background-color:#a981fa;
    padding: 5px;
}
.nav-link{
    display:flex;
    justify-content: flex-start;
    padding:8px;
    font-size:13pt;
}
a:hover{
    color: #7645d6;
    background-color:rgb(167, 167, 167);
    padding:8px;
    border-radius:5pt;
}

#recipeType{
    text-align:center;
    padding:20px;
}

#foodimg{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-content: center;
    width:300px;
    height:auto;
    padding:10px;
}

.ingredientContainer{
    margin-left:auto;
    margin-right:auto;
    border-radius:30pt;
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    width:800px;
    background-color:#d8ccf0;
    padding:20px;
}

.ingredients{
    display:block;
}

.ingTitle{
    display:flex;
    justify-content: center;
    color: rgb(65, 65, 65);
}
.recipeContent{
    margin-left:250px;
    margin-right:250px;
    padding:30px;

}
p, li {
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    color:rgb(44, 44, 44);
}

.titles{
    text-align:center;
    padding:10px;
    color: rgb(65, 65, 65);
}